{% extends "pizzas/base.html" %}

{% block content %}
<p> Pizzas </p>

<ul>
    {% for pizza in all_pizzas %}

    <li> 
        <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
    </li>
    

    {% empty %}
    <li> No pizzas have been added yet.</li>
   {% endfor %}

</ul>

<style>
    body {
      background-image: url('https://s3.eu-west-1.amazonaws.com/images.prod.phoode.com/photos/project/5fe36e9a16526.jpeg');
      background-repeat: no-repeat;
    }
    </style>

{% endblock content %}